#container
{width:1500px;height:1000px;margin-left:auto;margin-right:auto;}

#header
{width:1500px;height:150px;background:black;}

#navigation
{width:300px;height:750px;background:#800040;float:left;}

#main
{width:900px;height:750px;background: url(bg.jpg);background-size: 900px,750px;float:left;}

#side
{width:300px;height:750px;background:#8c8c8c;float:left;}

#footer
{clear:left;width:1500px;height:100px;background:#558000;}

#barm1
{width:240px;height:40px;padding:20px}

#barm2
{width:240px;height:40px;padding:20px}

#barm3
{width:240px;height:40px;padding:20px}

#bar1a
{width:30px;height:40px;background:#808080;float:left;}

#bar1b
{width:210px;height:40px;background:#e6e6e6;float:left;}

#bar2a
{width:30px;height:40px;background:#808080;float:left;}

#bar2b
{width:210px;height:40px;background:#e6e6e6;float:left;}

#bar3a
{width:30px;height:40px;background:#808080;float:left;}

#bar3b
{width:210px;height:40px;background:#e6e6e6;float:left;}

#side1
{width:260px;height:200px;background:#404040;margin-left:20px;margin-right:20px;}

#side2
{width:260px;height:200px;background:#404040;margin-left:20px;margin-right:20px;}